SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7522", SYMLINK+="ttyMOTOR"

KERNEL=="ttyTHS1", DEVPATH=="/devices/70006040.serial/tty/ttyTHS1", MODE="0666", SYMLINK+="ttyMOTOR"

SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60",  SYMLINK+="ttyLIDAR"
