<?xml version="1.0"?>
<!-- Basic differential drive mobile base -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diffdrive_robot">

  <xacro:arg name="robot_ip" default="127.0.0.1" />
  <xacro:arg name="mesh_port" default="8000" />
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find diffdrive_jetbot)/urdf/diffbot_description.urdf.xacro" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find diffdrive_jetbot)/urdf/diffbot.materials.xacro" />

  <!-- Import diffbot ros2_control description -->
  <xacro:include filename="$(find diffdrive_jetbot)/ros2_control/diffbot.ros2_control.xacro" />

  <xacro:diffbot prefix="$(arg prefix)" />

  <xacro:diffbot_ros2_control
    name="DiffBot" prefix="$(arg prefix)"/>

</robot>
